html {
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}

header{
  background-color: black;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 0px;
  height: 120px;
}

body{
  background-color: #faedcd;
}

h2{
  text-align: center;
}
footer{
  text-align: center;
}

article {
  padding-top: 100px;
  padding-bottom: 100px;
}